body {
    background-color: black;
  }

  a,
p,
h2,
h3,
h1 {
  color: white;
}
  




.ticTacToeBox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    gap: 5px;
  }
  
  .initStart {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 80px;
  }
  
  .oponentSelect {
    display: flex;
    flex-direction: column;
  }
  
  .oponentLabel {
    color: white;
  }
  
  .winningMessage {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .box.x,
  .box.o {
    cursor: not-allowed;
  }
  
  .box.x::before,
  .box.x::after,
  .ticTacToeBox.x .box:not(.x):not(.o):hover::before,
  .ticTacToeBox.x .box:not(.x):not(.o):hover::after {
    position: absolute;
    content: "";
    width: calc((100px * 0.9) * 0.15);
    height: calc(100px * 0.9);
    background-color: white;
  }
  
  .box.x::before,
  .ticTacToeBox.x .box:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
  }
  .box.x::after,
  .ticTacToeBox.x .box:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
  }
  
  .box.o::before,
  .box.o::after,
  .ticTacToeBox.o .box:not(.x):not(.o):hover::before,
  .ticTacToeBox.o .box:not(.x):not(.o):hover::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: white;
  }
  .ticTacToeBox.x .box:not(.x):not(.o):hover::before,
  .ticTacToeBox.x .box:not(.x):not(.o):hover::after,
  .ticTacToeBox.o .box:not(.x):not(.o):hover::before,
  .ticTacToeBox.o .box:not(.x):not(.o):hover::after {
    background-color: gray;
  }
  
  .box.o::before,
  .ticTacToeBox.o .box:not(.x):not(.o):hover::before {
    width: calc(100px * 0.8);
    height: calc(100px * 0.8);
  }
  .box.o::after,
  .ticTacToeBox.o .box:not(.x):not(.o):hover::after {
    width: calc(100px * 0.6);
    height: calc(100px * 0.6);
    background-color: black;
  }
  
  .topLeft {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }
  .topMiddle {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  .topRight {
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }
  
  .middleLeft {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  .middle {
    border: 2px solid white;
  }
  .middleRight {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }
  .bottomLeft {
    border-top: 2px solid white;
    border-right: 2px solid white;
  }
  .bottomMiddle {
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
  }
  .bottomRight {
    border-top: 2px solid white;
    border-left: 2px solid white;
  }
  
  .startButton {
    padding: 10px 50px;
    background-color: white;
  
    margin-bottom: 30px;
  }
  
  .box.x.green::before,
  .box.x.green:after {
    background-color: lightgreen;
  }
  .box.o.green::before {
    background-color: lightgreen;
  }
  

  @media screen and (max-width: 767px) {
    .box {
        width: 70px;
        height: 70px;
      }

      .box.x::before,
      .box.x::after,
      .ticTacToeBox.x .box:not(.x):not(.o):hover::before,
      .ticTacToeBox.x .box:not(.x):not(.o):hover::after {
        width: calc((70px * 0.9) * 0.15);
        height: calc(70px * 0.9);
      }

      .box.o::before,
      .ticTacToeBox.o .box:not(.x):not(.o):hover::before {
        width: calc(70px * 0.8);
        height: calc(70px * 0.8);
      }
      .box.o::after,
      .ticTacToeBox.o .box:not(.x):not(.o):hover::after {
        width: calc(70px * 0.6);
        height: calc(70px * 0.6);
        background-color: black;
      }
  }